#divPosts
{
	overflow-y: auto;
}

#divScrollPosts
{
	overflow-y: hidden!important;
}

.post-description-watson {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    text-align:right;
   	padding-left:20%;
   	border-top:solid 1px #CCC;
}

.post-description-user {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    text-align:left;
   	padding-right:20%;
   	border-top:solid 1px #CCC;
}

.post-title-watson {
    margin-bottom: 0.2em;
    color:#000666;
    
}
.post-title-user {
    margin-bottom: 0.2em;
    color:#000666;
    text-align:left;
}

.post-header-watson
{
	text-align:right;	
}
.pre-avatar-w {
    border-radius: 50px;
    width:50px;
    height:50px;
    float: left;
    margin-left: 1em;
    vertical-align:middle;
}

.post-avatar-w {
    border-radius: 50px;
    width:50px;
    height:50px;
    float: right;
    vertical-align:middle;
    margin-left: 1em;
}


.input-text
{
	width:60%;
	height:40px;
}
.input-button
{
	height:40px;
	padding-left:3%;
	padding-right:3%;
}
.bottom-button
{
	float:right;
	height:40px;
	padding-left: 1%;
	padding-right:1%;
	
}

.bottom_controls input[type="button"]
{
	border: solid 3px #FFF;
	background-color:#FFF;
	color:rgb(86,47,114);
	font-weight: bold;
}

.bottom_controls
{
	width:70%;
	height:50px;
	/*background-color:#b5dc17;*/
	position:fixed;
	bottom:0px;
	padding:5px;
	background-color: rgb(86,47,114);
}

.watsonLandpage
{
	background-color: #000;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	position: absolute;
	font-size:25px;
	top:0;
	bottom: 0;
	padding-top:30px;
	color:#FFF;
}

@media screen and (max-width:48em){
    .bottom_controls
	{
		z-index:1000;
		left:0px;
		width:100%;
		height:50px;
		position:fixed;
		bottom:0px;
		padding:5px;
		background-color: rgb(86,47,114);
	}

    .input-text
	{
		max-width:60%;
		height:40px;
	}
	.input-button
	{
		height:40px;
		padding-left:1%;
		padding-right:1%;
		font-size:12px;
		vertical-align: middle;
	}
	.bottom-button
	{
		float:right;
		height:40px;
		padding-left: 1%;
		padding-right:1%;
		display:none;
	}
}